= render "home/company",
  url: "https://www.algoma.com/",
  image_src: "https://www.algoma.com/wp-content/uploads/2017/05/ALGOMA_WEB_LOGO_RETINA.png",
  name: "Algoma",
  location: "Sault Ste. Marie, ON",
  description: "A career at Algoma is an opportunity to join an entrepreneurial company that meets industry challenges head on. Thanks to our proud 115-year history and status as one of the world’s leading producers of high-strength, light-gauge steel, Algoma offers employees the chance to develop their careers at a company that builds the world around it.",
  disciplines: "Chemical, Civil, Electrical, Environmental, Mechanical, and Mechatronics Engineers",
  full_width: true
