= render "home/company",
  url: "http://www.ipexna.com/",
  image_src: "logos/ipex.png",
  name: "IPEX Group of Companies",
  location: "Oakville, Toronto ON",
  description: "As the leader in thermoplastic piping systems, the IPEX companies design and manufacture the largest, most recognized and diverse range of integrated piping products – Everything professionals need to manage the full spectrum of today’s municipal, industrial, commercial and residential challenges.",
  disciplines: "Chemical, Civil, Mechanical, Mechatronics, and Nanotechnology Engineers",
  full_width: true
