= render "home/company",
  url: "https://www.kik.com/",
  image_src: "logos/kik.jpg",
  name: "Kik Interactive",
  location: "Waterloo ON and Toronto ON",
  description: "We're reimagining the way people interact with the world around them through chat. Stay in touch with all of your friends on Kik, no matter who you are or what device you're using. Chat one-on-one, with your whole group, or with a bot! From day one, you'll work on products and features that change the lives of the new generation!",
  roles: "Mobile Developers (iOS, Android)<br/ > Server Developers<br/ > Web Developers<br/ > Data Engineers<br/ > Data Scientists<br/ >",
  disciplines: "Computer, Management, Nanotechnology, Software, and Systems Design Engineers"
