= render "home/company",
  url: "http://klenzoid.com/",
  image_src: "logos/klenzoid.jpg",
  name: "Klenzoid",
  location: "Mississauga, ON",
  description: "Klenzoid is a North American Industrial Water Management Company. We service industrial, commercial and institutional applications where water, energy, and efficiency are of primary importance. Our Technical Representatives use their engineering expertise and data-driven processes, in conjunction with their exceptional communication and influencing skills, to get our customers’ heat transfer water systems operating at the lowest possible life-cycle cost and proactively maintain them there.",
  disciplines: "Chemical, Environmental, and Mechanical Engineers",
  full_width: true
