= render "home/company",
  url: "https://www.magnetforensics.com/",
  image_src: "logos/magnet.png",
  name: "Magnet Forensics",
  location: "Waterloo, ON",
  description: "Magnet Forensics employees know their work makes a difference in the world every day. No matter what role you play, you have an opportunity to help make the world a better place. At Magnet Forensics, we build technology that will help forensics professionals deal with issues that impact justice.",
  disciplines: "Computer and Software Engineers"
