= render "home/company",
  url: "http://www.onsemi.com/PowerSolutions/home.do",
  image_src: "logos/on.png",
  name: "ON Semiconductor",
  location: "​​Waterloo, Burlington ON",
  description: "The Medical & Wireless Products Division creates semiconductor solutions that improve the lives of our end customers. We solve unique design challenges in hearing health, implantable and other medical applications. We also help the latest smartphones get better wireless connections and longer battery life. We invite you to join our innovative team and truly make a difference in someone's life.",
  roles: "Hardware Engineers<br />Systems Engineers <br />Software Developers <br />Embedded Systems Designers",
  disciplines: "Computer, Electrical, Mechatronics, Software, and Systems Design Engineers"
