= render "home/company",
  url: "http://pccaero.com/",
  image_src: "logos/pcc.png",
  name: "PCC Aerostructures",
  location: "Cambridge, Brampton, ON",
  description: "Precision Castparts Corp. is a worldwide, diversified manufacturer of complex metal components and products. It serves the aerospace, power generation, and general industrial markets. PCC is the market leader in manufacturing large, complex structural investment castings, airfoil castings, and forged components used in jet aircraft engines and industrial gas turbines. The Company is also a leading producer of highly engineered, critical fasteners for aerospace, and other general industrial markets and supplies metal alloys and other materials to the casting and forging industries.",
  disciplines: "Mechanical, Mechatronics, Civil, System Design Engineers",
  full_width: true
