= render "home/company",
  url: "https://www.rjc.ca/",
  image_src: "logos/read.png",
  name: "Read Jones Christoffersen Ltd",
  location: "Kitchener, Toronto, ON",
  description: "Specializing in Structural Engineering, Building Science, Structural Restoration, Structural Glass & Facade Engineering and Parking Facility Design, RJC is one of North America's leading engineering firms. With a staff of more than 500 in 11 locations across the country, we offer highly personalized service at the local level with the expertise, depth, and resources of a large, national firm.",
  disciplines: "Civil Engineers"
