= render "home/company",
  url: "https://www.rwdi.com/",
  image_src: "logos/rwdi.png",
  name: "RWDI",
  location: "Burlington, Ottawa, Toronto, Windsor",
  description: "Rowan Williams Davies & Irwin Inc. (RWDI) is an engineering consulting firm specializing in the science of buildings and structures.  We lead integrated design incorporating sustainability, environmental engineering, wind engineering, microclimate, ventilation, noise, acoustics, vibration, hydrogeology and waste management.  We are a firm of 470+ enthusiastic people in five countries, bringing our wide range of experience and skills together to develop a better, holistic design for our clients.",
  disciplines: "Civil, Computer, Environmental, Geological, Mechanical, Mechatronics, Software, and Systems Design Engineers"
