@import vital/sprockets
@import vital/all

a
  color: #666666
  transition: 0.2s

  &:hover
    color: #999999

hr.small
  background: #999999
  height: 3px

.box
  overflow: auto

.section
  overflow: hidden

.section:not(.narrow)
  max-width: 1024px

.no-padding-top
  padding: 0px 1em

.row.padding-bottom
  padding-bottom: 3em

.feed-card
  text-align: left

  img.full-width
    width: 100%

  img
    max-height: 250px
    width: auto

  hr
    margin: 10px 0px
