meta content = ("text/html; charset=UTF-8") http-equiv = "Content-Type"

/ General
meta name = "author"              content = I18n.t("meta.author")
meta name = "description"         content = I18n.t("meta.description")
meta name = "keywords"            content = I18n.t("meta.keywords")
meta name = "viewport"            content = I18n.t("meta.viewport")

/ Facebook
meta property = "og:description"  content = I18n.t("meta.description")
meta property = "og:title"        content = I18n.t("meta.title")
meta property = "og:url"          content = I18n.t("urls.base")
meta property = "og:image"        content = I18n.t("urls.images.logo")
meta property = "og:type"         content = "website"

/ Twitter
meta name = "twitter:description" content = I18n.t("meta.description")
meta name = "twitter:title"       content = I18n.t("meta.author")
